In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Employee.csv')

In [3]:
df.head(3)

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0

In [4]:
df.sample(5)

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
4546,Bachelors,2017,Bangalore,3,25,Female,No,3,0
2334,Bachelors,2012,New Delhi,3,30,Male,No,1,1
3490,Bachelors,2016,Bangalore,3,35,Male,No,4,0
1583,Bachelors,2012,Bangalore,3,25,Male,No,3,0
1272,Masters,2015,Pune,2,28,Female,No,2,0

In [5]:
df.columns

Index(['Education', 'JoiningYear', 'City', 'PaymentTier', 'Age', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'],
      dtype='object')

In [6]:
df.shape

(4653, 9)

In [7]:
df.isnull().sum()

Education                    0
JoiningYear                  0
City                         0
PaymentTier                  0
Age                          0
Gender                       0
EverBenched                  0
ExperienceInCurrentDomain    0
LeaveOrNot                   0
dtype: int64

In [8]:
df['Education'].value_counts()

Education
Bachelors    3601
Masters       873
PHD           179
Name: count, dtype: int64

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder

In [10]:
x = df.drop('LeaveOrNot',axis=1)
y = df['LeaveOrNot']

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=43)

In [12]:
y_train

519     1
430     1
549     0
4194    1
4621    0
       ..
307     0
2064    1
2325    0
2303    0
3392    0
Name: LeaveOrNot, Length: 3722, dtype: int64

In [13]:
oe_columns = ['Education']
ohe_colums = ['City','Gender','EverBenched']

In [14]:
cat_tranformer = Pipeline(steps=[
    ('tr11',OneHotEncoder(drop='first',sparse=False)),
])

cat_tranformer2 = Pipeline(steps=[
    ('trf2',OrdinalEncoder())
])

In [15]:
col_transform = ColumnTransformer(transformers=[
    ('cat_col',cat_tranformer,ohe_colums),
    ('cat_col2',cat_tranformer2,oe_columns)
],remainder='passthrough')

In [16]:
col_transform.fit_transform(x_train)

/home/shohel/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[ 0.,  0.,  1., ...,  3., 27.,  5.],
       [ 1.,  0.,  1., ...,  3., 26.,  4.],
       [ 0.,  0.,  1., ...,  3., 26.,  4.],
       ...,
       [ 0.,  0.,  1., ...,  3., 27.,  5.],
       [ 0.,  0.,  1., ...,  3., 27.,  5.],
       [ 0.,  0.,  1., ...,  3., 36.,  4.]])

In [17]:
from sklearn.naive_bayes import MultinomialNB

In [18]:
model = MultinomialNB()

In [19]:
pipe = Pipeline(steps=[
    ('col_trans',col_transform),
    ('model',model)
])

In [20]:
pipe.fit(x_train,y_train)

/home/shohel/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('col_trans',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('cat_col',
                                                  Pipeline(steps=[('tr11',
                                                                   OneHotEncoder(drop='first',
                                                                                 sparse=False))]),
                                                  ['City', 'Gender',
                                                   'EverBenched']),
                                                 ('cat_col2',
                                                  Pipeline(steps=[('trf2',
                                                                   OrdinalEncoder())]),
                                                  ['Education'])])),
                ('model', MultinomialNB())])

In [21]:
y_pred =pipe.predict(x_test)

In [22]:
pipe.score(x_test,y_test)

0.6283566058002148

In [23]:
x_train

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain
519,Bachelors,2014,Bangalore,3,27,Male,No,5
430,Masters,2014,New Delhi,3,26,Male,No,4
549,Bachelors,2012,Bangalore,3,26,Male,No,4
4194,Bachelors,2018,Bangalore,3,33,Male,No,4
4621,Bachelors,2015,Bangalore,3,31,Male,No,5
...,...,...,...,...,...,...,...,...
307,Bachelors,2012,Pune,3,27,Male,No,5
2064,Masters,2017,New Delhi,2,27,Female,No,5
2325,Bachelors,2013,Bangalore,3,27,Male,No,5
2303,Bachelors,2012,Bangalore,3,27,Male,Yes,5
3392,Bachelors,2015,Bangalore,3,36,Male,No,4